html{
    height: 100%;
}

body {
	background: radial-gradient(aliceblue, rgb(238, 239, 248));
    font-family: sans-serif, Arial, Helvetica;
    height: 100%;
}

.gridRoot {
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas:
    "gridHeader gridHeader gridHeader"
    "gridMain gridMain gridMain"
    ". gridFooter .";
}

.gridMain {
	display: grid;
	text-align: center;
	grid-area: gridMain;
}

.gridFooter {
	display: grid;
	text-align: center;
	grid-area: gridFooter;
}

.gridHeader {
    background-color: #DD4124;
	display: grid;
	text-align: center;
	grid-area: gridHeader;
}